<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
    </style>
    <title>Document</title>
  </head>
  <body>
  <form action="#" method = "POST">
      <p>Summoner Name <input type = "text" name = "inputName" /></p>
      <label for="Region">Choose a Region:</label>
        <select name="regions" id="regions">
            <option value="EUW">EU West</option>
            <option value="KR">Korea</option>
            <option value="NA">North America</option>
        </select>
        <p><input type="submit" value="Submit" /></p>
  </form>
  </body>
</html>